{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Mes Recettes
{% endblock %}

{% block body %}

	<div class="container " style="padding-bottom: 155px;">
		{% if not recipes.items is same as([]) %}
			<h1 class="text-center">Mes Recettes</h1>
			<div class="d-flex justify-content-end">
				<a href="{{path('recipe.new')}}" class="btn btn-primary mt-4">Ajouter une nouvelle recette</a>
			</div>

			{% for message in app.flashes('success')%}
				<div class="alert alert-dismissible alert-success mt-4">
					{{message}}
				</div>
			{% endfor %}

			<div class="count mt-4">
				<div class="alert alert-dismissible alert-primary">
					<span class="text-uppercase">Il y a
						{{ recipes.getTotalItemCount }}
						Recette au total
					</span>
				</div>
			</div>

			<table class="table table-hover table-container vh-100 overflow-auto">
				<thead>
					<tr class="text-center">
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Difficulty</th>
						<th scope="col">Price</th>
						<th scope="col">Date de création</th>
						<th scope="col">Editer</th>
						<th scope="col">Supprimer</th>
					</tr>
				</thead>
				<tbody class="text-center">
					{% for recipe in recipes %}
						<tr class="table-primary">
							<td>{{ recipe.id }}</td>
							<td>{{ recipe.name }}</td>
							<td>
								{% if recipe.difficulty is null %}
									Non renseigné
								{% else %}
									{{ recipe.difficulty }}
								{% endif %}
							</td>
							<td>
								{% if recipe.price is null %}
									Non renseigné
								{% else %}
									{{ recipe.price }}
								{% endif %}
							</td>
							<td>{{ recipe.createAt|date("d/m/Y") }}</td>
							<td>
								<a href="{{path('recipe.edit', {id: recipe.id})}}" class="btn btn-info" class="btn btn-info">Edit</button>
							</td>
							<td>
								<a href="{{path('recipe.delete', {id: recipe.id})}}" class="btn btn-danger" class="btn btn-danger">Delete</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
		{# display navigation #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(recipes) }}
		</div>
	{% else %}
		<h4 class="text-center">Il n'y a pas de recette</h4>
	{% endif %}
</div>{% endblock %}
